:root {
  --background-color: none;
  --glass-color: none;
  --hover-color: none;
  --navText-color: none;
  --heading-color: none;
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Background */
.background-box {
  background: var(--background-color);
  min-height: 100vh;
  padding: 5vh 0;
}

.glass {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.nav {
  border-radius: 0.5em;
  position: unset !important;
  background: var(--glass-color) !important;
}

.heading {
  color: var(--heading-color);
}

.book {
  margin: 5vh 0 0 0;
  height: calc(100vh - 20vh - 64px);
  background: var(--glass-color);
  border-radius: 0.5rem;
  position: relative;
}

.loading-bg {
  margin: 5vh 0 0 0;
  height: calc(100vh - 20vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  color: var(--heading-color) !important;
  width: 80px !important;
  height: 80px !important;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

/* Background */
/* button configuration */
.select-language {
  background: transparent;
  border: transparent;
  color: var(--navText-color);
  outline: none;
}



option {
  background-color: var(--glass-color);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* button configuration */

/* image */
.bg-image {
  border-radius: 0.5rem;
}

/* image */

/* Customizing MUI  */

.MuiToolbar-root {
  justify-content: space-between !important;
}

.MuiSwitch-root {
  margin-left: auto !important;
}

.MuiTab-root {
  color: var(--navText-color) !important;
  max-width: 110px !important;
}

.MuiSwitch-thumb {
  color: var(--heading-color) !important;
}

.Mui-checked {
  color: var(--heading-color) !important;
}

.MuiSwitch-track {
  background-color: var(--navText-color) !important;
}

.MuiTab-root:hover {
  color: var(--hover-color) !important;
}

.MuiTab-root.Mui-selected {
  color: var(--heading-color) !important;
}

.MuiTabs-indicator {
  background-color: var(--heading-color) !important;
}

.menu {
  color: var(--heading-color) !important;
  font-size: 30px !important;
}

.MuiTab-iconWrapper {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

/* Customizing MUI  */

/* fade in */
.fade-in {
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fade in */
