:root {
  --background-color: none;
  --glass-color: none;
  --hover-color: none;
  --navText-color: none;
  --heading-color: none;
  --pageTitle-color: none;
  --pageAuthor-color: none;
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* Background */
.background-box {

  background: url(../public/page-image/landing-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-size: cover;
  min-height: 100vh;
  padding: 5vh 0 0 0;
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}



.nav {

  border-radius: 0.5em;
  position: unset !important;
  background: var(--glass-color) !important;
  margin-bottom: 5vh;
}

.heading {
  color: var(--heading-color);
}

.book {
  background: var(--glass-color);
  border-radius: 0.5rem;
  position: relative;
  height: calc(100vh - 15vh - 99px);
  display:flex;
  justify-content: center;
  align-items: center;
}

.book-title {
  text-align: center;
}
@media screen and (max-height:600px){
  .portrait-home img{
    width:120px !important;
    height: 120px !important;
  }
}
@media screen and (max-width:600px) {
  .background-box {
    padding: 2vh 0 0 0;
  }

  .nav {
    margin-bottom: 2vh;
  }

  .book {
    height: calc(100vh - 56px - 6vh);
  }

  .MuiDrawer-paper {
    width: 40vw !important;
  }
}

@media screen and (min-width:601px) and (max-width:900px) {
  .book {
    height: calc(100vh - 64px - 15vh);
  }
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.logo {
  padding-left: 0 !important;
}

/* Background */
/* button configuration */
.select-language {
  border: 1px solid var(--navText-color);
  color: var(--navText-color);
  outline: none;
  background: transparent;
}

option {
  color: var(--heading-color);
  background-color: var(--navText-color);
}
.select-language:hover{
  border-color: var(--hover-color);
  color:var(--hover-color);
}

.hidden {
  visibility: hidden;
}

.text-logo {
  color: var(--navText-color);
  font-weight: bold;
}

.portrait-home {
  margin: 2vh 0 !important;
}

.pretty-lady {
  border-radius: 50%;
  object-position: 10% 10%;
}

.home-button {
  color: var(--pageTitle-color) !important;
  font-weight: bolder !important;
  border: 2px solid var(--pageTitle-color) !important;
}

.home-button:hover {
  color: var(--hover-color) !important;
  border: 2px solid var(--hover-color) !important;
}

/* button configuration */

/* text */
h5 {
  color: var(--pageTitle-color) !important;
  font-weight: bolder !important;
}

h6 {
  font-size: 1rem !important;
  color: var(--pageAuthor-color) !important;
  font-weight: lighter !important;
  font-style: italic;
}
/* text */

/* image */
.bg-image {
  border-radius: 0.5rem;
}


/* image */

/* Customizing MUI  */
.MuiDrawer-paper {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: var(--glass-color) !important;
  min-width: 25vw !important;
  color: var(--navText-color) !important;
}

.MuiToolbar-root {
  justify-content: space-between !important;
}

.MuiSwitch-root {
  margin-left: auto !important;
}

.MuiTab-root {
  color: var(--navText-color) !important;
  max-width: 110px !important;

}

.MuiSwitch-thumb {
  color: var(--heading-color) !important;
}

.Mui-checked {
  color: var(--heading-color) !important;
}

.MuiSwitch-track {
  background-color: var(--navText-color) !important;
}

.MuiTab-root:hover {
  color: var(--hover-color) !important;
}

.MuiTab-root.Mui-selected,
.MuiListItem-root.Mui-selected {
  color: var(--heading-color) !important;
  font-weight: bold !important;
}


.MuiListItem-root.Mui-selected {
  background-color: var(--navText-color) !important;
}

.MuiTabs-indicator {
  background-color: var(--heading-color) !important;
}

.menu {
  color: var(--heading-color) !important;
  font-size: 30px !important;
}

.MuiTab-iconWrapper {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

/* Customizing MUI  */

/* fade in */
.fade-in {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* fade in */